html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #fefefe;
  color: black;
}

h1,
h2,
h3,
h4 {
  color: #71bf44;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1rem;
}

nav {
  /* Shouldn't have a background until scrolled down at all */
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-left: -40px;
  font-size: 1rem;
  font-weight: 500;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: black;
}

li img {
  height: 2rem;
}

/* ---- particles.js container ---- */
#particles-js {
  background-color: #000000;
  position: absolute;
  height: 75vh;
}

#header {
  color: #fefefe;
  font-size: 1.4rem;
  position: relative;
  height: 75vh;
}

#header h2 {
  font-weight: 400;
  color: #fefefe;
}

#about {
  margin-top: 1rem;
}

.intro {
  width: 85%;
  padding: 25px 0;
}

.serviceCards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-bottom: 3rem;
  border-radius: 5px;
  border: 2px solid hsla(0, 0%, 89%, 0.561);
  max-height: 40%;
  max-width: 80%;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-size: 1rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.card p {
  align-self: center;
  font-size: 1.2rem;
  text-align: center;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.cardHeader img {
}

.card h3 {
  text-decoration: underline;
  color: #2d3436;
  text-decoration-color: #71bf44;
  margin-bottom: -1rem;
}

#services {
}

.step {
  height: 15rem;
  width: 100vw;
  background: none;
  z-index: 2;
  color: white;
  margin-bottom: 1rem;
}

.step p {
  width: 80%;
}

.grayOverlay {
  background-color: hsla(120, 1%, 28%, 0.7);
  height: 100%;
  width: 100%;
}

.one {
  background-image: url("https://res.cloudinary.com/bfrest/image/upload/f_auto,q_auto/v1624190063/Gamut/form-image.png");
  background-size: contain;
  margin: 0 0 5rem 0;
  padding: 0;
  text-align: center;
}

.two {
  background-image: url("https://res.cloudinary.com/bfrest/image/upload/f_auto,q_auto/v1624189962/Gamut/prov-tank-model.png");
  background-size: contain;
  margin: 0 0 5rem 0;
  padding: 0;
  text-align: center;
}

.three {
  background-image: url("https://res.cloudinary.com/bfrest/image/upload/f_auto,q_auto/v1624049156/Gamut/7C8A9A02-674D-4A27-8A52-6288CD9D14A8.heic");
  background-size: cover;
  margin: 0 0 5rem 0;
  padding: 0;
  text-align: center;
}

.anotherStep {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10rem 0 30rem 0;
  padding: 0;
}

.anotherStep img {
  height: 19rem;
  max-width: 90vw;
  position: absolute;
}

.picText {
  color: black;
  font-size: 1.3rem;
  width: 75vw;
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid hsla(0, 0%, 89%, 0.561);
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin: 10rem 0 0 0;
  position: absolute;
}

.leftText {
  left: 7;
}

.rightText {
  right: 7;
}

.leftPic {
  left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.rightPic {
  right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.howItWorks {
  font-size: 2rem;
}

#contact {
  height: 50vh;
  margin-bottom: 25vh;
}

form {
  height: 100%;
  width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea,
input {
  padding: 10px;
  width: 100%;
  margin-bottom: 30px;
  font-size: 1rem;
  border: 2px solid hsla(0, 0%, 81%, 0.8);
  border-radius: 5px;
}

textarea {
  height: 10rem;
}

button {
  background-color: #71bf44;
  border: none;
  color: #fefefe;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 50px;
}

canvas {
  display: block;
}

footer {
  font-size: 0.8rem;
  width: 100vw;
  height: 60vh;
  background-color: black;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
